@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.version {
    position: absolute;
        top: 5%;
        right: 3%;
    font-size: 120%;
}
body {
    background-color: #141414;
    font-family: 'Agbalumo', sans-serif;
    text-align: center;
    overscroll-behavior-y: none;
    overflow-x: inline;
    user-select: none;
    margin: 0;
    padding: 0;
    color: white;
}
.titulo {
    font-size: 700%;
}



.navbar {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
    font-size: 100%;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar li {
    display: inline-block;
    margin: 0cm 1cm;
}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5cm 3cm;
    text-decoration: none;
}
.navbar a:hover {
    background-color: silver;
    color: rgba(187, 156, 88, 255);
    font-family: Agbalumo;
    border-radius: 4000%;
}

.navbar a:visited {
    color: white;
}

.navbar a:active {
    color: white;
}

/*LINKS*/
a {
    text-decoration: none;
}
a:hover {
    color: cyan;
}
a:visited {
    color: orange;
}
a:active {
    color: orange;
}


/*Contact*/
.contact {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*About us*/
.us {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
        top: 10cm;
        right: 10%;
}

/*Games*/

.games {
    background-image: url(../images/fondogameslist.jpg);
        width: 90vw;
        height: 100vw; 
        margin-left: 5%;
        margin-right: 5%;
    border-radius: 5%;
}


.gameslist {
    background-image: url(../images/fotoluminexa1.jpg);
    background-size: 90vw;
        width: 90vw;
        height: 15%; 
    border-radius: 15%;
        margin-right: 5%;
        border-top: 5%;
}

.gameslist2 {
    background-image: url(../images/proximamente.png);
    background-size: 90vw;
        width: 90vw;
        height: 15%; 
    border-radius: 15%;
        margin-right: 5%;
        border-top: 5%;
}

.gameslist:hover {
    color: rgba(0, 0, 255, 0.5);
}

.gameslist2:hover {
    color: rgba(0, 0, 255, 0.5);
}

