html, body {
  width: 100%;
  overflow-x: hidden; /* Para evitar el desplazamiento horizontal */
}

main {
  padding-bottom: 0;
}


body {
    display: flex;
    flex-direction: column; /* Hace que el footer esté al final de la página */
}

.footera {
  position: absolute;
  top: 92.5%; /* Este valor puede estar causando el desbordamiento */
  left: 85%;
  color: white;
  font-size: 1.5vh;
  /* Considera usar `bottom` o `top` con un valor ajustado */
}

#logo {
  max-width: 100%;
  height: auto;
}



.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex; /* Agregado para alinear los iconos */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.copy svg {
  position: relative;
  width: 100%; /* Ajusta el tamaño del icono */
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.copy .clipboard {
  display: block; /* Asegura que el icono esté visible por defecto */
}

.copy .checkmark {
  display: none; /* Oculta el icono de la marca de verificación por defecto */
}

.copy:focus .checkmark {
  display: block; /* Muestra la marca de verificación cuando el botón recibe foco */
}

.copy:focus .clipboard {
  display: none; /* Oculta el icono original cuando el botón tiene foco */
}

/* Mostrar el tooltip */
.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

/* Mostrar cambios cuando el botón es presionado */
.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover {
  background-color: var(--button-hover-bg);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}





/* From Uiverse.io by MuhammadHasann */ 
button {
  position: relative;
  padding: 12px 35px;
  background: #ba9b5b;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #ba9b5b;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fff;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #ffff;
}
