html, body {
  width: 100%;
  overflow-x: hidden; /* Para evitar el desplazamiento horizontal */
}

main {
  padding-bottom: 0;
}


body {
    display: flex;
    flex-direction: column; /* Hace que el footer esté al final de la página */
}

.footera {
  position: absolute;
  top: 92.5%; /* Este valor puede estar causando el desbordamiento */
  left: 85%;
  color: white;
  font-size: 1.5vh;
  /* Considera usar `bottom` o `top` con un valor ajustado */
}

#logo {
  max-width: 100%;
  height: auto;
}



.copy {
  box-sizing: border-box;
  width: var(--button-diameter);
  height: var(--button-diameter);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex; /* Agregado para alinear los iconos */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.copy svg {
  position: relative;
  width: 100%; /* Ajusta el tamaño del icono */
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.copy .clipboard {
  display: block; /* Asegura que el icono esté visible por defecto */
}

.copy .checkmark {
  display: none; /* Oculta el icono de la marca de verificación por defecto */
}

.copy:focus .checkmark {
  display: block; /* Muestra la marca de verificación cuando el botón recibe foco */
}

.copy:focus .clipboard {
  display: none; /* Oculta el icono original cuando el botón tiene foco */
}

/* Mostrar el tooltip */
.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
  opacity: 1;
  visibility: visible;
  top: calc((100% + var(--tooltip-offset)) * -1);
}

/* Mostrar cambios cuando el botón es presionado */
.copy:active {
  outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover {
  background-color: var(--button-hover-bg);
}

.copy:hover svg {
  color: var(--button-hover-text-color);
}

