body {
    background-image: url("../images/cielo.jpg"); /* Retrocede una carpeta */
    background-size: cover; /* La imagen cubrirá todo el body */
    background-repeat: no-repeat; /* La imagen no se repetirá */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}

.cssbuttons-io-button {
    background: #ba9b5b;
    color: white;
    font-family: inherit;
    padding: 0.42em; /* Aumentado 20% */
    padding-left: 1.44em; /* Aumentado 20% */
    font-size: 20px; /* Aumentado 20% */
    font-weight: 500;
    border-radius: 1.08em; /* Aumentado 20% */
    border: none;
    letter-spacing: 0.06em; /* Aumentado 20% */
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.92em -0.72em #ba9b5b; /* Aumentado 20% */
    overflow: hidden;
    position: relative;
    height: 3.36em; /* Aumentado 20% */
    padding-right: 3.96em; /* Aumentado 20% */
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: blue;
    margin-left: 1.2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.64em; /* Aumentado 20% */
    width: 2.64em; /* Aumentado 20% */
    border-radius: 0.84em; /* Aumentado 20% */
    box-shadow: 0.12em 0.12em 0.72em 0.24em #ba9b5b; /* Aumentado 20% */
    right: 0.36em; /* Aumentado 20% */
    transition: all 0.3s;
}

.cssbuttons-io-button .icon svg {
    width: 1.32em; /* Aumentado 20% */
    transition: transform 0.3s;
    color: #ba9b5b;
}

  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #ba9b5b;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
