body {
    background-image: url("../images/cielo.jpg"); /* Retrocede una carpeta */
    background-size: cover; /* La imagen cubrirá todo el body */
    background-repeat: no-repeat; /* La imagen no se repetirá */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}
